h1 {
  color: black;
  text-align: center;
 text-shadow: 5px 5px 2px rgba(0,0,0,0.2);
}
p
{
font-color : black;
}
img {
  display: block;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}
body {
  background-color: yellow;
}
